
/* ANIMATION */
#showcase {
  height: 300px;
}

#showcase h1 {
  margin-top: 10px;
  height: 300px;
  color: black;
  font-size: 50px;
  line-height: 1.3;
  position: relative;
  animation: heading;
  animation-duration: 5s;
  animation-fill-mode: forwards;


}

@keyframes heading {
  0% {
    left: -500px
  }

  100% {
    left: 200px
  }
}

#content {
  margin-bottom: 200px;
  position: relative;
  animation-name: content;
  animation-duration: 5s;
  animation-fill-mode: forwards;


}

@keyframes content {
  0% {
    top: -1000px
  }

  100% {
    top: 0px
  }
}


.bootstrapLogo {
  width: 100px;
  height: 100px;
  border-radius: 100%;

  position: relative;
  animation: bootstrapLogo;
  animation-delay: 3s;

  animation-duration: 5s;
  animation-fill-mode: forwards;
       animation-iteration-count: infinite; 


}

@keyframes bootstrapLogo {
  0% {
    top: -1000px;
    opacity: 20;

  }

  100% {
    top: 0px;
    opacity: 0;

  }
}

.mongoLogo {
  width: 100px;
  height: 100px;
  border-radius: 100%;

  position: relative;
  animation: mongoLogo;
  animation-delay: 3s;

  animation-duration: 5s;
  animation-fill-mode: forwards;
       animation-iteration-count: infinite; 

}

@keyframes mongoLogo {
  0% {
    top: -1000px;
    opacity: 20;

  }

  100% {
    top: 0px;
    opacity: 0;

  }
}

.nodeLogo {
  width: 100px;
  height: 100px;
  border-radius: 100%;

  position: relative;
  animation: mongoLogo;
  animation-delay: 3s;

  animation-duration: 5s;
  animation-fill-mode: forwards;
       animation-iteration-count: infinite; 

}

@keyframes nodeLogo {
  0% {
    top: -1000px;
    opacity: 20;

  }

  100% {
    top: 0px;
    opacity: 0;

  }
}

.gitLogo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  animation: gitLogo;
  animation-delay: 5s;

  animation-duration: 5s;
  animation-fill-mode: forwards;
       animation-iteration-count: infinite; 


}

@keyframes gitLogo {
  0% {
    top: -1000px;
    opacity: 20;

  }

  100% {
    top: 0px;
    opacity: 0;

  }
}

.htmlLogo {
  width: 100px;
  height: 100px;

  position: relative;
  animation: htmlLogo;
  animation-delay: 6s;

  animation-duration: 5s;
  animation-fill-mode: forwards;
       animation-iteration-count: infinite; 


}

@keyframes htmlLogo {
  0% {
    top: -1000px;
    opacity: 20;

  }

  100% {
    top: 0px;
    opacity: 0;

  }
}

.jsLogo {
  width: 100px;
  height: 100px;

  position: relative;
  animation: jsLogo;
  animation-delay: 7s;

  animation-duration: 5s;
  animation-fill-mode: forwards;
       animation-iteration-count: infinite; 


}

@keyframes jsLogo {
  0% {
    top: -1000px;
    opacity: 20;

  }

  100% {
    top: 0px;
    opacity: 0;

  }
}

.reactLogo {
  width: 100px;
  height: 100px;

  position: relative;
  animation: reactLogo;
  animation-delay: 8s;

  animation-duration: 5s;
  animation-fill-mode: forwards;
       animation-iteration-count: infinite; 



}

@keyframes reactLogo {
  0% {
    top: -1000px;
    opacity: 20;

  }

  100% {
    top: 0px;
    opacity: 0;

  }
}


.footer{
  margin-top: 600px;
}