a {
  text-decoration: none;
}

p {
  font-family: 'Merriweather', serif;
  line-height: 2;
  word-spacing: 2px;
}

span {
  color: #51207E;
}

.bioName {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: #F47421;
  letter-spacing: 2px;
}

.navNames {
  font-family: 'Indie Flower', cursive;
  color: #dacde6;
}

.bgProject {
  background-color: white;
}

.bgAbout {
  background-color: white;
}

.crdTitleOne {
  font-family: 'Indie Flower', cursive;
  color: #51207E;
  letter-spacing: 2px;
}

.quotes {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}

.crdTitleTwo {
  font-family: 'Indie Flower', cursive;
  color: #F47421;
  font-size: 25px;
}

.projecttHeader {
  font-size: 45px;
  font-family: 'Indie Flower', cursive;
  color: #F47421;
  position: relative;
  left: 12px;
  top: 30px;
}

.aboutHeader {
  font-size: 45px;
  font-family: 'Indie Flower', cursive;
  color: #F47421;
  position: relative;
  top: 30px;
}

/* [class*="col-"] {
  width: 100%;
} */
@media screen and (min-width: 300px) and (max-width: 640px) {
  body {
    background: rgba(0, 0, 0, 0.87);
  }

  .myName {
    font-family: 'Sacramento', cursive;
    height: 90px;
    font-size: 50px;
    letter-spacing: 3.60px;
    line-height: 64.45%;
    color: rgba(255, 193, 32, 1);
    position: absolute;
    left: 10px;
    top: 200px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
  }

  .myTitle {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.14em;
    color: #dacde6;
    position: absolute;
    left: 93px;
    top: 280px;
  }

  /* javascript */
  .jsLogo {
    width: 50px;
    height: 50px;
  }

  /* react */
  .reactLogo {
    width: 50px;
    height: 50px;
  }

  /* nodejs */
  .nodeLogo {
    width: 50px;
    height: 50px;
    border-radius: 1000px;
  }

  .personLogo {
    width: 100px;
    height: 140px;
  }

  .logosDiv {
    position: absolute;
    right: 10px;
    top: 340px;
  }

  .imgeDiv {
    background: rgba(0, 0, 0, 0.87);
  }

  .myPhoto {
    position: relative;
    width: 130px;
    height: 160px;
    left: 90px;
    top: 40px;
    border-radius: 100%;
  }

  .butn {
    font-family: 'Merriweather', serif;
    position: relative;
    width: 300px;
    background: #EABE25;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
  }

  .butnUi {
    font-family: 'Merriweather', serif;
    position: relative;
    width: 300px;
    background: #EABE25;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
  }
}

/* @media screen and (min-width: 640px) { */
/* body {
    background: lightblue;
  } */
/* } */
/* @media screen and (min-width: 1000px) { */
/* body {
    background: orange;
  } */
/* } */
@media screen and (min-width: 640px) {
  body {
    background: rgba(0, 0, 0, 0.87);
  }

  .navLinks {
    margin-left: 26px;
  }

  .myName {
    font-family: 'Sacramento', cursive;
    height: 100px;
    font-size: 110px;
    letter-spacing: 3.60px;
    line-height: 64.45%;
    color: rgba(255, 193, 32, 1);
    position: absolute;
    left: 100px;
    top: 100px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
  }

  .myTitle {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 45px;
    letter-spacing: 0.14em;
    color: #dacde6;
    position: absolute;
    left: 300px;
    top: 200px;
  }

  /* My projects */
  .project {
    width: 319px;
    height: 69px;
    font-size: 36px;
    font-family: 'Indie Flower', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 53px;
    letter-spacing: 0.1em;
    color: #B19FC1;
  }

  /* About me */
  .about {
    width: 305px;
    height: 69px;
    font-size: 36px;
    letter-spacing: 2.70px;
    line-height: 100%;
    /* position: absolute; */
    font-family: 'Indie Flower', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 53px;
    letter-spacing: 0.075em;
    color: #B19FC1;
  }

  /* Contact me */
  .contact {
    width: 309px;
    height: 69px;
    font-size: 36px;
    letter-spacing: 5.94px;
    line-height: 100%;
    /* position: absolute; */
    font-family: 'Indie Flower', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 53px;
    letter-spacing: 0.165em;
    color: #B19FC1;
  }

  .designed {
    width: 300px;
    height: 69px;
    font-size: 36px;
    letter-spacing: 5.94px;
    line-height: 100%;
    font-family: 'Indie Flower', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 53px;
    letter-spacing: 0.165em;
    color: #B19FC1;
  }

  /* boot */
  .bootLogo {
    width: 120px;
    height: 120px;
  }

  /* javascript */
  .jsLogo {
    width: 120px;
    height: 120px;
  }

  /* react */
  .reactLogo {
    width: 120px;
    height: 120px;
  }

  /* nodejs */
  .nodeLogo {
    width: 120px;
    height: 120px;
    border-radius: 1000px;
  }

  .personLogo {
    width: 200px;
    height: 280px;
  }

  /* mongodb-leaf-logo */
  .mongoLogo {
    width: 120px;
    height: 120px;
    border-radius: 1000px;
  }

  .logosDiv {
    position: absolute;
    left: 50px;
    top: 270px;
  }

  .imgeDiv {
    background-color: white;
    border-radius: 100%;
    margin-left: 20;
  }

  .myPhoto {
    position: relative;
    width: 130px;
    height: 160px;
    left: 130px;
    top: 118px;
    border-radius: 100%;
  }

  .butn {
    font-family: 'Merriweather', serif;
    position: relative;
    width: 570px;
    background: #EABE25;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
  }

  .butnUi {
    font-family: 'Merriweather', serif;
    position: relative;
    width: 1125px;
    background: #EABE25;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
  }
}
